<html>
    <head>
        <title>
            <%= title  %>
        </title>
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>
        
    </head>

    <body>
        <%- include('_header'); %>

       
        
        <main id="main">
            <%- body %>

        </main>


        <%- include('_footer'); %>
        <script type="text/javascript" src="/js/search.js"></script>
    </body>
</html>